.navbar-nav > li, button {
    margin-left:20px;
    margin-right:20px;
    font-size: 20px;
    font-weight: 300;
  }

  .navbar-brand > img{
    font-weight: 500;
    margin:0 31rem 0 7rem;
    font-size: 23px;
    width: 120px;
  }

  .navbar {
    margin: 0;
  }